body {
  margin: 0;
  font-family: "Sen", sans-serif;
  /* overflow-y: hidden;
  overflow-x: hidden; */
}

h1 {
  color: #ffffff;
  margin-top: 0;
}

h2 {
  color: #4ab4e0;
}

.navbar {
  position: fixed;
  margin: auto;
  width: 100%;
  background-image: linear-gradient(
    rgba(50, 50, 50, 0.8),
    rgba(255, 255, 255, 0)
  );
  z-index: 9999;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  width: 80%;
  top: 0;
  left: 0;
}

li a {
  font-size: 25px;
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 50px;
}

li a:hover:not(.active) {
  color: blue;
}

.video-container {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(88%);
}

.image-container {
  display: flex;
  justify-content: center;
  filter: brightness(88%);
}

#imageOnly {
  display: none;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.image-header {
  display: none;
  position: absolute;
  text-align: center;
  padding: 20px;
  margin: 0;
  font-size: 22px;
  color: #4ab4e0;
}

.container {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.container-shade {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 65%;

  background-color: black;
  opacity: 75%;
  padding: 10px 0;
  z-index: 0;
}

.justify-content {
  text-align: center;
  z-index: 1;
}

/* Style all font awesome icons */
.big-button {
  padding: 20px;
  font-size: 30px;
  width: 110px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */
.fa-instagram {
  background-color: #833ab4;
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcaf45 100%);
  color: #ffffff;
}

.fa-linkedin {
  background-color: #0a66c2;
  color: #ffffff;
}

.fa-behance {
  background-color: #053eff;
  color: #ffffff;
}

.fa-youtube-play {
  background-color: #ff0000;
  color: #ffffff;
}

.fa-mail-reply {
  background-color: #4ab4e0;
  color: #ffffff;
}

.center-button {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 95%;
  left: 50%;
}

.fa-angle-up {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 50px;
  padding: 0;
}

.link-button {
  background-color: #4ab4e0;
  color: #ffffff;
  font-family: Sen;
  font-weight: bold;
}

.media-links a {
  padding: 20px;
  margin: 5px;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 500px;
  }

  .big-button {
    padding: 20px;
    font-size: 30px;
    width: 150px;
    text-align: center;
    text-decoration: none;
  }

  .media-links a {
    margin: 5px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 20px;
  }
}

/* mobile view */
@media only screen and (max-width: 767px) {
  .body {
    height: 100vh;
    min-height: 100vh
  }

  .container {
    width: 300px;
  }

  .big-button {
    padding: 20px;
    font-size: 20px;
    width: 80px;
    text-align: center;
    text-decoration: none;
  }

  .media-links a {
    margin: 3px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 17px;
  }

  .video-container {
    display: none;
  }

  /* .img-container {
    display: block;
  } */

  #imageOnly {
    display: block;
  }

  .image-header {
    display: block;
  }
}

@media only screen and (orientation: landscape) and (max-width: 1023px) {
  .body {
    height: 100vh;
    min-height: 100vh
  }

  .container {
    width: 350px;
  }

  .big-button {
    padding: 20px;
    font-size: 15px;
    width: 45px;
    text-align: center;
    text-decoration: none;
  }
  
  h1 {
    font-size: 15px;
  }

  h2 {
    font-size: 10px;
  }

  .video-container {
    display: block;
  }

  #imageOnly {
    display: none;
  }

  .image-header {
    display: none;
  }
}
