/* Theme
#2b405c
#3397c1
#f8feff 
*/

/* dark blue
bright blue
slight blue white */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Sen", sans-serif;
}

#ts-particles {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* these are to make sure the video/image will be fitted on mobile and will not be affected by link address tab */
.entire-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/* Hide overflow to prevent body scrolling */

.banner-content {
  flex: 0 0 auto;
  overflow: hidden;
}
/* Allow the first content to grow if needed, but don't shrink it */
/* Hide any potential overflow in the first content */

.additional-content {
  flex: 1;
  overflow: auto;
}
/* Allow the additional content to take up remaining space */
/* Enable scrolling for the additional content */

h1 {
  color: #f8feff;
  margin-top: 0;
}

h2 {
  color: #3397c1;
}

.navbar {
  position: fixed;
  margin: auto;
  width: 100%;
  background-image: linear-gradient(
    rgba(50, 50, 50, 0.5),
    rgba(255, 255, 255, 0)
  );
  z-index: 9999;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  width: 80%;
  top: 0;
  left: 0;
}

li a {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #f8feff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 50px;
}

li a:hover:not(.active) {
  color: #3397c1;
}

.banner-video-container {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.banner-video-container-mobile {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.banner-video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  object-fit: cover;
  filter: brightness(88%);
}

.banner-video-container-mobile video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  object-fit: cover;
}

.banner-header {
  display: none;
  text-align: center;
  padding: 20px;
  margin: 0;
  font-size: 22px;
  color: #4ab4e0;
  opacity: 88%;
}

.tldr-container {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.tldr-container-shade {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 65%;

  background-color: black;
  opacity: 75%;
  padding: 10px 0;
  z-index: 0;
}

.tldr-justify-content {
  text-align: center;
  z-index: 1;
}

/* Style all font awesome icons */
.big-button {
  padding: 20px;
  font-size: 30px;
  width: 110px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */
.fa-instagram {
  background-color: #833ab4;
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcaf45 100%);
  color: #ffffff;
}

.fa-linkedin {
  background-color: #0a66c2;
  color: #ffffff;
}

.fa-behance {
  background-color: #053eff;
  color: #ffffff;
}

.fa-youtube-play {
  background-color: #ff0000;
  color: #ffffff;
}

.fa-mail-reply {
  background-color: #3397c1;
  color: #ffffff;
}

.link-button {
  background-color: #3397c1;
  color: #ffffff;
  font-family: Sen;
  font-weight: bold;
}

.tldr-center-button {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8feff;
  top: 93%;
  left: 50%;
}

.tldr-center-button p {
  font-size: 30px;
  font-weight: bold;
  padding: 7px;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 45px;
}

.fa-angle-up {
  display: flex;
  background-color: transparent;
  border: none;
  color: #3397c1;
  cursor: pointer;
  font-size: 50px;
}

.tldr-media-links a {
  padding: 20px;
  margin: 5px;
}

@media only screen and (min-width: 768px) {
  .tldr-container {
    width: 500px;
  }

  .big-button {
    padding: 20px;
    font-size: 30px;
    width: 150px;
    text-align: center;
    text-decoration: none;
  }

  .tldr-media-links a {
    margin: 5px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 20px;
  }
}

/* mobile view */
@media only screen and (max-width: 767px) {
  .tldr-container {
    width: 300px;
  }

  .big-button {
    padding: 20px;
    font-size: 20px;
    width: 80px;
    text-align: center;
    text-decoration: none;
  }

  .tldr-media-links a {
    margin: 3px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 17px;
  }

  .banner-video-container {
    display: none;
  }

  #ts-particles {
    display: block;
  }

  .banner-header {
    display: block;
  }

  .banner-video-container-mobile {
    display: block;
  }
}

@media only screen and (orientation: landscape) and (max-width: 1023px) {
  .tldr-container {
    width: 350px;
  }

  .big-button {
    padding: 20px;
    font-size: 15px;
    width: 45px;
    text-align: center;
    text-decoration: none;
  }

  h1 {
    font-size: 15px;
  }

  h2 {
    font-size: 10px;
  }

  .banner-video-container {
    display: block;
  }

  .banner-video-container-mobile {
    display: none;
  }

  #ts-particles {
    display: none;
  }

  .banner-header {
    display: none;
  }
}
